Package: ukmcl
Version: ${VERSION}
Section: games
Priority: optional
Depends: libx11-6, libice6, libsm6, libfontconfig1, libwebkit2gtk
Maintainer: TheGremlinX <owner@thegremlinx.xyz>
Homepage: https://web.thegremlinx.xyz/
Architecture: amd64
Description: This is the Minecraft Launcher for and by the Unknown Group.
Copyright: 2025 © TheUnknownGroup <owner@thegremlinx.xyz>
