Package: ukmclavalonia
Version: ${VERSION}
Section: games
Priority: optional
Depends: libc6, libx11-6, libice6, libsm6, libfontconfig, libgcc-s1, libssl3, libstdc++6, tzdata, zlib1g
Maintainer: TheGremlinX <owner@thegremlinx.xyz>
Homepage: https://web.thegremlinx.xyz/
Architecture: x64
Description: This is the Minecraft Launcher for and by the Unknown Group.
Copyright: 2025 © TheUnknownGroup <owner@thegremlinx.xyz>
