[Desktop Entry]
Name=UKMCL
Description=This is the Minecraft Launcher for and by the Unknown Group.
Exec=UKMCL
Icon=/opt/UKMCL/icon.svg
Terminal=false
Type=Application
Categories=Game;